@use "../custom" as *;
@use "./../components/mixins" as *;

.menu {


	div{
		a{
			img{
				min-height: 35px;
				height: auto;
				width: 100%;
			}
		}
	}


@include gradient;



	li {
		padding: 0 0.7rem;
		
		a {
			color: $white-offset !important;
			text-transform: capitalize;
			font-weight: 400;
		}
	}
}
